.btn{
    margin: 0 auto;
    margin-left: 100px;
    margin: 20px;
    width: 200px;
  height: 50px;
  font-size: 20px;
  color: white;
   font-weight: bold;
    text-align: center;
    background: rgb(241, 13, 32);
  background: linear-gradient(90deg, rgba(214,4,20,1) 0%, rgba(255,164,129,1) 100%);
  border: 1px solid rgb(247, 88, 88);
  border-radius: 20px;
  cursor: pointer;
  }
  .route{
    width: 60%;
  margin: 25px;
  border: 1px solid rgb(247, 88, 88);
  padding: 15px;
  border-radius: 20px;
  }
  .btn:hover{
  background: linear-gradient(90deg, rgb(255, 174, 181) 0%, rgb(255, 193, 169) 100%);
  
  color: rgb(212, 4, 4);
  transition: 0.5s ease-in;
  }